<div id="at_footer">
	<div class="row">
		<div class="medium-8 columns text-center-on-small-only">
			<div class="at_block">
				<div class="copyright">
					<span>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a>. Free Ghost Theme Powered by <a href="http://foundation.zurb.com/">Foundation 5</a>.</span>
				</div>
				<div class="poweredby">
					<span>Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> and hosted by <a href="https://www.digitalocean.com/?refcode=3bb89a8961ff">DigitalOcean</a>.</span>
				</div>
			</div>
		</div>
		<div class="medium-4 columns text-right text-center-on-small-only at_social_icons">
			<div class="at_block">
			    <a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x"></i>
					</span>
			    </a>
			    <a href="#">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x"></i>
					</span>
			    </a>
			    <a href="{{@blog.url}}/rss/">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-rss fa-stack-1x"></i>
					</span>
			    </a>
			</div>
		</div>
	</div>
</div>