<div id="at_navigation" class="hide-for-small">
	<nav class="top-bar" data-topbar>
		<section class="top-bar-section">
			<ul class="right">
				<li><a class="at_menu_item" href="{{@blog.url}}">Home</a></li>
				<li><a class="at_menu_item" href="{{@blog.url}}/about">About</a></li>
				<li><a class="at_menu_item" href="{{@blog.url}}/typography">Typography</a></li>
				<li><a class="at_menu_item" href="{{@blog.url}}/tutorials">Tutorials</a></li>
				<li><a class="at_menu_item" href="#">Download</a></li>
			</ul>
		</section>
	</nav>
</div>