<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}">Home</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/about">About</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/typography">Typography</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/tutorials">Tutorials</a></li>
		<li><a class="at_menu_item" href="#">Download</a></li>
	</ul>
</aside>