@import "variables";

//*-----------------------------------------
//* General Core
//*-----------------------------------------
#at_page_surround {
	color: $base_text_color;
	background-color: $base_background_color;
	font-size: $base_font_size;
	line-height: $base_line_height;
}
h1, h2, h3, h4, h5, h6 {
	color: darken($base_text_color, 10%);
}
a {
	color: lighten($primary_color, 20%);
	@include transition(color 0.2s ease-in);
	&:hover, &:focus {
		color: lighten($primary_color, 10%);
	}
}
.at_block {
	padding: 1rem;
	margin: 1rem auto;
}

//*-----------------------------------------
//* Logo
//*-----------------------------------------
.at_logo_text {
	color: $logo_text_color;
    font-size: 1rem;
    font-weight: 500;
    line-height: 40px;
    &:hover {
    	color: $logo_text_color;
    }
}
.at_logo_container {
	@media #{$small-only} {
		text-align: center;
	}
}

//*-----------------------------------------
//* Header
//*-----------------------------------------
#at_header {
	color: $header_text_color;
	background: $header_background_color;
	.top-bar, .top-bar-section ul {
		background: transparent;
	}
}

//*-----------------------------------------
//* Navigation
//*-----------------------------------------
#at_navigation,
.off-canvas-list {
	.at_menu_item {
		color: $menu_text_color;
		background-color: transparent;
		font-size: $base_font_size - 2;
		@include transition(all 0.2s ease-in-out);
		&:hover {
			color: lighten($primary_color, 25%);
			background-color: rgba(255, 255, 255, 0.15);
		}
	}
}

//*-----------------------------------------
//* Off-Canvas Navigation
//*-----------------------------------------
.off-canvas-wrap a.exit-off-canvas {
	background: rgba(0, 0, 0, 0.5);
	&:hover {
		background: rgba(0, 0, 0, 0.5);
	}
}
.left-off-canvas-toggle {
	color: $header_background_color;
	background: $header_text_color;
    position: absolute;
    top: 9px;
    padding: 0 8px;
    border-radius: 3px;
}

//*-----------------------------------------
//* Showcase
//*-----------------------------------------
#at_showcase {
	.at_block {
		margin: 1rem auto;
		.home-template & {
			margin: 4rem auto;
		}
		@media #{$small-only} {
			margin: 1rem auto;
		}
	}
	.at_title, .at_subtitle, .at_version,
	.at_post_title, .at_post_share_title {
		color: #fff;
		text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	}
	.at_title {
	    font-size: 4rem;
	    font-weight: 500;
	}
	.at_subtitle {
		margin-bottom: 2rem;
	}
	.at_version {
		color: fade-out($showcase_text_color, 0.5);
	}
}
.at_blog_cover {
	background-size: cover;
}
.at_showcase_overlay {
	background-image: url(../images/showcase_pattern.png);
	background-repeat: repeat;
	background-color: $showcase_background_color;
	color: $showcase_text_color;
	&.at_with_blog_cover {
		background-image: none;
		background-color: fade-out($showcase_background_color, 0.25);
	}
}

//*-----------------------------------------
//* Pagination
//*-----------------------------------------
#at_pagination {
	font-weight: 300;
}

//*-----------------------------------------
//* MainBody
//*-----------------------------------------
#at_mainbody {
	padding: 1.5rem 0;
	.at_block {
		&:last-child {
		    margin-bottom: 0;
		    padding-bottom: 0;
		}
	}
}

//*-----------------------------------------
//* Post
//*-----------------------------------------
.at_post_meta {
	color: lighten($base_text_color, 35%);
	font-size: $base_font_size - 2;
	margin-bottom: 1rem;
	.post-template & {
		color: fade-out($showcase_text_color, 0.5)
	}
}
.at_post_title {
    line-height: 1.3;
    margin: 0 0 5px 0;
    .post-template & {
    	font-weight: 500;
    	margin: 0 0 10px 0;
    }
}
.at_post_author, .at_post_time, .at_post_tags {
	display: inline-block;
	margin-right: 15px;
	@media #{$small-only} {
		display: block;
	}
}
.at_post_tags {
	font-style: italic;
	margin-right: 0;
}
.at_post_share_title {
	text-transform: uppercase;
	opacity: 0.5;
}
.at_post_share_icon span {
	font-size: 2rem;
	margin: 0 3px;
	color: $showcase_text_color;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
	opacity: 0.5;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		opacity: 1;
	}
}
.at_author {
	color: tint($primary_color, 40%);
	background: tint($primary_color, 90%);
    border: 1px solid tint($primary_color, 80%);
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem auto;
}
.at_author_name h3 {
	color: tint($primary_color, 30%);
	font-weight: 500;
}
.at_author_image {
	img {
		background: tint($primary_color, 50%);
		border: 1px solid tint($primary_color, 40%);
		padding: 5px;
		border-radius: 100%;
	}
}

//*-----------------------------------------
//* Footer
//*-----------------------------------------
#at_footer {
	color: $footer_text_color;
	background: $footer_background_color;
	font-size: $base_font_size - 3;
	font-weight: 300;
	letter-spacing: 1px;
}

//*-----------------------------------------
//* Social Icons
//*-----------------------------------------
.at_social_icons {
	.at_block {
		@media #{$small-only} {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

//*-----------------------------------------
//* Button
//*-----------------------------------------
.button {
	background-color: lighten($primary_color, 20%);
	&:hover {
		background-color: lighten($primary_color, 15%);
	}
}

//*-----------------------------------------
//* Additional Typography
//*-----------------------------------------
.text-center-on-small-only {
	@media #{$small-only} {
		text-align: center !important;
	}
}